.full-screen-store {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background: rgba(20, 20, 20, 0.95);
            z-index: 2;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;
            padding: 2rem;
        }

        .close-btn {
            position: absolute;
            top: 1rem;
            right: 10rem;
            font-size: 1.5rem;
            cursor: pointer;
        }


        .store-card {
            background: #333;
            color: #fff;
            padding: 1rem;
            margin: 1rem;
            border-radius: 8px;
            display: inline-block;
            text-align: center;
        }
